# Binary files
pwd-tool.exe

# Test binary files
*.test

# Configuration files
*.json
*.yaml
*.yml
!example.json
!example.yaml
!example.yml

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.log

# System files
.DS_Store
Thumbs.db

# ohter 
passwords.db

